<form asp-controller="Usuario" asp-action="ForMethod" method="get">

    <label>Username:</label>
    <input type="text" name="username" />

    <label>Password:</label>
    <input type="password" name="password" />

    <label>email:</label>
    <input type="text" name="email" />

    <label>Name:</label>
    <input type="text" name="name" />

    <label>Fecha Nacimiento:</label>
    <input type="text" name="fechanacimiento" />


    <button type="submit">Cargar y obtener Usuarios</button>
</form>



@if (ViewBag.Mensaje != null)
{
    <h1 style="color:green">@ViewBag.Mensaje </h1>

}


@if (ViewBag.Error != null )
{
    <h1>@ViewBag.Error </h1>
    
}